<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>To-do Task Manager</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css" />
</head>
<body>
	<div class="table-title">
	<h3>Details of Task to be Added</h3>
	</div>
	<form action="/addtask" method="POST">
	<table class="table-fill">
	<thead>
	<tr>
	<th class="text-left">Task-Name</th>
	<th class="text-left">Description</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" id="task_name_field" name="task_name_field"/></td>
			<td><input type="text" id="task_description_field" name="task_description_field"/></td>
		</tr>
	</tbody>
	</table>
	<div class="table-title">
		<label>Add-Task<input type="submit"/></label>
	</div>
</form>
</body>
</html>
