<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>To-do Task Manager</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css" />
</head>
<body>
	<div class="table-title">
	<h3>Details of Task to be Added</h3>
	</div>
	<form action="/addtask" method="POST" id="signup">
	<input type="text" id="task_name_field" name="task_name_field" placeholder="task name goes here"/>
	<input type="text" id="task_description_field" name="task_description_field" placeholder="task description goes here"/>
	<button type="submit">Add Task</button>
</form>
</body>
</html>
